{{/* Display author list. */}}

{{- $taxonomy := "authors" }}
{{ if .Param $taxonomy }}
  {{ range $index, $author := (.GetTerms $taxonomy) }}
    {{- $highlight_name := .Page.Params.highlight_name | default false -}}
    {{- $equal_contrib := in $.Params.equal_contribution $author.Title }}

    {{- if gt $index 0 }}, {{ end -}}
    <span {{ if $highlight_name }}class="author-highlighted"{{ end }}>
      {{- if .RelPermalink -}}
        <a href="{{.RelPermalink}}">{{.LinkTitle}}</a>
      {{- else -}}
        {{- if $equal_contrib }}
          <span class="equal-contribution">{{ .LinkTitle }}*</span>
        {{- else -}}
          {{ .LinkTitle }}
        {{- end }}
      {{- end -}}
    </span>
    {{- if isset $.Params "author_notes" -}}
      {{- with (index $.Params.author_notes $index) -}}
        <i class="author-notes fas fa-info-circle" data-toggle="tooltip" title="{{.}}"></i>
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}